---
title: Promocje - Zestaw komunijny VIP
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      Do 10.04 zestaw komunijny VIP do 50 osób 1550 PLN nawet na 2 dni!
    </p>

    <p>
    W skład zestawu wchodzi:
    </p>
    <ul>
    <li> namiot 5x8m</li>
    <li> oświetlenie 4 lampiony dekoracyjne</li>
    <li> stoły ok 260x100cm</li>
    <li> krzesła typu ISO</li>
    <li> gala dekoracyjna</li>
    <li> fontanna czekoladowa</li>
    <li> grill</li>
    <li> podłoga</li>
    <li> montaż oraz demontaż</li>
    <li> transport 100 km</li>
    <li> warnik do gorących napojów o pojemności 6,8l.</li>
    </ul>

  </div>

</div>





