---
title: Promocje -  Zestaw komunijny (ławy)
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_promocje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p class="lead">
      Do 10.04.2015 zestaw komunijny do 50 osób kosztuje tylko 750 PLN!!
    </p>
    <p>
    W skład zestawu wchodzi:
    </p>
    <ul>
    <li> namiot 5x8m</li>
    <li> oświetlenie</li>
    <li> stoły</li>
    <li> ławy</li>
    <li> montaż oraz demontaż</li>
    <li> transport 30 km</li>
    </ul>
  </div>

</div>





