<%= link_to 'Zestaw komunijny', '/propozycje/zestaw_komunijny.html', class: 'list-group-item' %>
<%= link_to 'Zestaw wesele i poprawiny', '/propozycje/zestaw_wesele.html', class: 'list-group-item' %>
<%= link_to 'Zestaw noclegowy', '/propozycje/zestaw_noclegowy.html', class: 'list-group-item' %>




