<%= link_to 'Namioty 3x3', '/oferta/namioty_3x3.html', class: 'list-group-item' %>
<%= link_to 'Namioty 3x6', '/oferta/namioty_3x6.html', class: 'list-group-item' %>
<%= link_to 'Namioty 5x8', '/oferta/namioty_5x8.html', class: 'list-group-item' %>
<%= link_to 'Namioty 6x12', '/oferta/namioty_6x12.html', class: 'list-group-item' %>
<%= link_to 'Namioty wojskowe NS-64', '/oferta/namioty_ns_64.html', class: 'list-group-item' %>
<%= link_to 'Namioty harcerskie', '/oferta/namioty_harcerskie.html', class: 'list-group-item' %>
<%= link_to 'Łóżka i materace wojskowe', '/oferta/lozka_materace_wojskowe.html', class: 'list-group-item' %>
<%= link_to 'Wyposażenie dodatkowe', '/oferta/wyposazenie_dodatkowe.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do waty cukrowej', '/oferta/wata_cukrowa.html', class: 'list-group-item' %>
<%= link_to 'Wynajem maszyny do popcornu', '/oferta/popcorn.html', class: 'list-group-item' %>
<%= link_to 'Oprawa muzyczna', '/oferta/oprawa_muzyczna.html', class: 'list-group-item' %>
