<%= link_to 'Zestaw komunijny (ławy)', '/promocje/zestaw_komunijny_lawy.html', class: 'list-group-item' %>
<%= link_to 'Zestaw komunijny (krzesła)', '/promocje/zestaw_komunijny_krzesla.html', class: 'list-group-item' %>
<%= link_to 'Zestaw komunijny VIP', '/promocje/zestaw_komunijny_vip.html', class: 'list-group-item' %>
<%= link_to 'Fontanna czekoladowa ', '/promocje/fontanna_czekoladowa.html', class: 'list-group-item' %>
