<nav class="navbar navbar-default navbar-inverse">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<a class="navbar-brand" href="#">Turbonamioty</a>-->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Turbonamioty', '/' %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oferta <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to 'Namioty 3x3', '/oferta/namioty_3x3.html' %>
          </li>
          <li>
            <%= link_to 'Namioty 3x6', '/oferta/namioty_3x6.html' %>
          </li>

          <li>
            <%= link_to 'Namioty 5x8', '/oferta/namioty_5x8.html' %>
          </li>

          <li>
            <%= link_to 'Namioty 6x12', '/oferta/namioty_6x12.html' %>
          </li>

          <li>
            <%= link_to 'Namioty wojskowe NS-64', '/oferta/namioty_ns_64.html' %>
          </li>

          <li>
            <%= link_to 'Namioty harcerskie', '/oferta/namioty_harcerskie.html' %>
          </li>

          <li>
            <%= link_to 'Łózka i materace wojskowe', '/oferta/lozka_materace_wojskowe.html' %>
          </li>


          <li>
            <%= link_to 'Wyposażenie dodatkowe', '/oferta/wyposazenie_dodatkowe.html' %>
          </li>

          <li>
            <%= link_to 'Wynajem maszyny do waty cukrowej', '/oferta/wata_cukrowa.html' %>
          </li>

          <li>
            <%= link_to 'Wynajem maszyny do popcornu', '/oferta/popcorn.html' %>
          </li>
          <li>
            <%= link_to 'Oprawa muzyczna', '/oferta/oprawa_muzyczna.html' %>
          </li>
        </ul>
      </li>
      <li><%= link_to 'O firmie', '/o-firmie.html' %></li>
      <li><%= link_to 'Nasi klienci', '/nasi-klienci.html' %></li>
      <li><%= link_to 'Galeria', '/galeria' %></li>
      <li><%= link_to 'Cennik', '/cennik.html' %></li>
      <li><%= link_to 'Kontakt', '/kontakt.html' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'tel: 600-22-35-35', 'phone:600223535' %></li>
      <li><%= mail_to 'turbonamioty@gmail.com', 'turbonamioty@gmail.com' %></li>
    </ul>
  </div>



</nav>