<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>

    <meta name="google-site-verification" content="45i_PcTkW9AqNJ2EoHWpY_zCjDTyU-guXGrmdC4ZP3o" />
  </head>
  
  <body class="<%= page_classes %>">
  <div class="container">
    <%= image_tag 'logo.png', class: 'pull-right' %>
    <div class="page-header">
      <h1>
      <% if current_page.data.title %>

            <%= current_page.data.title %>
      <% end %>
      </h1>
    </div>
    <%= partial 'layouts/navigation' %>
    <%= yield %>
  </div>


  </body>
</html>