---
title: Propozycje - Zestaw noclegowy
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_propozycje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
    Zestaw noclegowy jest propozycją skierowaną do osób, które organizują uroczystość weselną, większą imprezę okolicznościową, obóz, czy też zlot i zamierzają przenocować uczestników imprezy . Wychodząc naprzeciw zapotrzebowaniom klientów, wraz z zebranym we wcześniejszych latach doświadczeniem stworzyliśmy dla Państwa następującą propozycję.
    </p>
    <p>
    W skład zestawu wchodzą:
    </p>
    <ul>
    <li>namiot harcerski wysoki lub namiot NS-64</li>
    <li>10 materacy wojskowych</li>
    <li>10 łóżek polowych lub łóżek typu kanadyjka</li>
    </ul>

    <p>
    Koszt wynajmu 1 zestawu noclegowego na 1 noc to 160 PLN.
    Wraz ze wzrostem ilości wypożyczonego sprzętu oraz długością okresu wypożyczenia, ceny znacząco maleją.
    </p>
  </div>

</div>





