---
title: Propozycje - Zestaw wesele i poprawiny
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_propozycje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <p>
    Zestaw weselny jest propozycją skierowaną do osób, które organizują uroczystość weselną, większą imprezę okolicznościową, bądź event firmowy. Wychodząc naprzeciw zapotrzebowaniom klientów, wraz z zebranym we wcześniejszych latach doświadczeniem stworzyliśmy dla Państwa następującą propozycję.
    </p>
    <p>
    W skład zestawu wchodzą:
    </p>
    <ul>
    <li>namiot 6x12m</li>
    <li>oświetlenie 4-8 lampionów dekoracyjnych</li>
    <li>stoły ok 260x100cm</li>
    <li>krzesła typu ISO</li>
    <li>montaż oraz demontaż</li>
    <li>transport 30 km</li>
    </ul>
    <p>
    Opcjonalnie:
    </p>
    <ul>
    <li> namiot 8x10m lub namiot 8x15m lub namiot 8x20m lub namiot 10x16m</li>
    <li> grill</li>
    <li> fontanna czekoladowa</li>
    <li> podłoga</li>
    <li> warnik do gorących napojów o pojemności 6,8l.</li>
    <li> gala dekoracyjna</li>
    </ul>
    <p>
    Koszt wynajmu sprzętu, w zależności od ilości osób ( odpowiednia ilość stołów oraz krzeseł) oraz wyposażenia opcjonalnego waha się od 700 PLN do 3550 PLN.
    </p>

  </div>

</div>





