---
title: Propozycje - Zestaw komunijny
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_propozycje' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
    Zestaw komunijny do 50 osób jest propozycją skierowaną do osób, które organizują uroczystość Pierwszej Komunii Świętej. Wychodząc naprzeciw zapotrzebowaniom klientów, wraz z zebranym we wcześniejszych latach doświadczeniem stworzyliśmy dla Państwa następującą propozycję.
    </p>
    <p>
    W skład zestawu wchodzą:
    </p>
    <ul>
    <li> namiot 5x8m</li>
    <li> oświetlenie 2-4 lampiony dekoracyjne</li>
    <li> stoły ok 260x100cm</li>
    <li> krzesła typu ISO</li>
    <li> montaż oraz demontaż</li>
    <li> transport 30 km</li>
    </ul>

    <p>Opcjonalnie:</p>
    <ul>
    <li>grill</li>
    <li>fontanna czekoladowa</li>
    <li>podłoga</li>
    <li>warnik do gorących napojów o pojemności 6,8l.</li>
    <li>gala dekoracyjna</li>
    </ul>
    <p>
    Koszt wynajmu sprzętu, w zależności od ilości osób ( odpowiednia ilość stołów oraz krzeseł) oraz wyposażenia opcjonalnego waha się od 600 PLN do 1750 PLN.
    </p>
  </div>

</div>





