---
title: Oferta -  łóżka polowe i materace wojskowe
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
      Łóżka polowe  doskonale sprawdzają się podczas obozów, czy też wyjazdów pod namiot. Mogą być wypożyczane także w celu przenocowania gości po imprezie okolicznościowej. Ich wymiar to ok 80cm x 200cm.
    </p>
    <p>
        Materace wojskowe wyprodukowane dla Wojska Polskiego, doskonale sprawdzają się podczas obozów, czy też wyjazdów pod namiot. Mogą być wypożyczane także w celu przenocowania gości po imprezie okolicznościowej. Materace od spodu są gumowane, co zabezpiecza przed wilgocią. Ich wymiar to ok 75cm x 180cm.
    </p>
    <%= partial 'galeria/galeria_lozka_materace' %>
  </div>

</div>





