---
title: Oferta - namiot harcerski
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
<p>
    Namioty harcerskie to typowo noclegowe namioty stworzone dla harcerzy. Używane są podczas obozów, biwaków, zlotów, ale również żeby przenocować gości po imprezie okolicznościowej takiej jak urodziny, komunia czy też wesele. Namiotu także można użyć jako przydomowego magazynu, czy też garażu dla samochodu.
    Wymiary namiotu to 4 na 5 metrów, o wysokości około 240cm.
    Jest możliwość odbioru namiotu od wypożyczalni oraz rozstawienia we własnym zakresie.
</p>


    <%= partial 'galeria/galeria_harcerski' %>
  </div>

</div>





