---
title: Oferta - namiot 6x12
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <p>
      Namioty 6x12m  (72 m2) są używane podczas imprez okolicznościowych powyżej 50 osób.
      W zależności od wielkości oraz sposobu rozstawienia stołów można zorganizować w nich uroczystość do 80 osób.
      Namiot ten świetnie sprawdza się w różnorodnych imprezach plenerowych, ogrodowych, firmowych eventach, weselach,
      chrzcinach, czy też komuniach. Dzięki specjalnym elementom mocującym jesteśmy w stanie rozstawić namiot  zarówno
      do podłoży gruntowych, trawników jak i kostki betonowej lub asfaltu. Wytrzymała powłoka dachu z PVC
      o gramaturze - 500g/m2 stanowi idealne zabezpieczenie przed zmiennymi warunkami atmosferycznymi. Oferowane
      przez nas namioty są białe z ciemnozielonymi akcentami. Namioty można łączyć tworząc większe powierzchnie.
    </p>

    <p>Namioty posiadają 2 wejścia zapinane na suwak. Dodatkowo istnieje możliwość błyskawicznego odpięcia
      każdego elementu ściany bocznej, dzięki czemu wejście do namiotu możemy swobodnie przemieszczać.
    </p>


    <%= partial 'galeria/galeria_6x12' %>
  </div>

</div>





