---
title: Oferta - namiot 5x8
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
    Namioty 5x8  (40 m2) mają głównie charakter imprezowy lub usługowy. W zależności od wielkości oraz sposobu rozstawienia stołów można zorganizować w nich uroczystość do 50 osób. Namiot 5x8 doskonale sprawdza się w różnorodnych imprezach plenerowych, ogrodowych czy firmowych eventach. Znajduje zastosowanie podczas wielu uroczystości takich jak wesela, chrzciny i komunie. Dzięki specjalnym elementom mocującym jesteśmy w stanie rozstawić namioty  zarówno do podłoży gruntowych, trawników jak i kostki betonowej lub asfaltu. Wytrzymała powłoka dachu z PVC o gramaturze - 500g/m2 stanowi idealne zabezpieczenie przed zmiennymi warunkami atmosferycznymi.
    Oferowane przez nas namioty mają 2 warianty kolorystyczne: białe z szarymi lub niebieskimi falbanami.
    Namioty można ze sobą łączyć tworząc większe powierzchnie:
    </p>
    <ul>
    <li>5 na 16 metrów</li>
    <li>5 na 24 metry</li>
    <li>8 na 10 metrów</li>
    <li>8 na 15 metrów i inne.</li>
    </ul>
    <p>
    Namioty posiadają 2 wejścia zapinane na suwak. Dodatkowo istnieje możliwość błyskawicznego odpięcia każdej ściany bocznej, dzięki czemu wejście do namiotu możemy swobodnie przemieszczać.
    </p>

    <%= partial 'galeria/galeria_5x8' %>
  </div>

</div>





