---
title: Oferta - namiot 3x6
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <p>
      Namioty ekspresowe o konstrukcji nożycowej są bardzo szybkie w montażu i demnotażu, mają bardzo szerokie zastosowanie m.in.:
  </p>
    <ul>
        <li>handlowe</li>
        <li>cateringowe,</li>
        <li>gastronomiczne,</li>
        <li>reklamowe,</li>
        <li>wystawowe,</li>
        <li>magazynowe</li>
        <li>ogrodowe.</li>
    </ul>
    <p>
    Ściany przypinane są do nóg namiotów na rzepy.
    Nogi mają stabilną podstawę, która zapobiega wbijaniu się namiotu w ziemię.
    Nogi posiadają czterostopniową regulację wysokości,
    dzięki czemu możemy regulować wysokość namiotu od 175 do 204 cm.
    Namioty ekspresowe 3x6 mogą Państwo zarówno zamówić z transportem i  usługą rozłożenia, jak też odebrać je oraz zamontować osobiście.
    </p>


    <%= partial 'galeria/galeria_3x6' %>
  </div>

</div>





