---
title: Oferta - namiot NS-64
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <p>
      Namioty wojskowe NS-64 to najpopularniejszy rodzaj namiotów wojskowych. Namioty stworzone są do zapewnienia miejsc
      noclegowych podczas obozów, biwaków, zlotów, ale również żeby przenocować gości po imprezie okolicznościowej
      takiej jak urodziny, komunia czy też wesele. Namiotu także można użyć jako przydomowego magazynu, czy też garażu
      dla samochodu.
      Wymiary namiotu to 4 na 5 metrów, o wysokości około 220cm.
      Jest możliwość odbioru namiotu od wypożyczalni oraz rozstawienia we własnym zakresie.
    </p>


    <%= partial 'galeria/galeria_ns_64' %>
  </div>

</div>





