---
title: Oferta - Oprawa muzyczna
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">

    <p>
    Bardzo chętnie podejmiemy się obsługi muzycznej imprez i eventów. Dysponujemy profesjonalnym sprzętem oraz rozmaitymi efektami świetlnymi, posiadamy między innymi:
    </p>
    <ul>
    <li>kolumny o mocy kilku tysięcy Wat</li>
    <li>wzmacniacze o mocy 1200 Wat</li>
    <li>lasery świetlne</li>
    <li>stroboskopy</li>
    <li>wytwornice dymu</li>
    <li>kule obrotowe</li>
    </ul>
    <p>
    Połączenie młodości i nieszablonowości naszego DJa ze już zdobytym doświadczeniem i ograniem na różnego rodzaju imprezach,  zagwarantuje doskonałą oprawę muzyczną oraz nietuzinkowe zabawy dla gości.
    </p>

    <p>
    Nasz DJ Wodzirej specjalizuje się graniem przede wszystkim na takich imprezach jak:
    </p>
    <ul>
    <li> wesela</li>
    <li> urodziny</li>
    <li> studniówki</li>
    <li> osiemnastki</li>
    <li> imprezy klubowe</li>
    </ul>
    <p>
    Gwarantujemy Państwu najwyższą jakość usług oraz pełne zadowolenie.
    </p>
    <%= image_tag 'galeria/oprawa_muzyczna/dj.jpg', class: 'pull-right img-thumbnail' %>


  </div>

</div>





