---
title: Oferta - wyposażenie dodatkowe
---


<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <%= partial 'layouts/_linki_oferta' %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <dl class="dl-horizontal">
      <dt>Stoły</dt>
      <dd>
        posiadamy składane stoły w 3 wymiarach:
        <ul>
          <li> 280 cm x 100 cm</li>
          <li> 250 cm x 100 cm</li>
          <li> 220 cm x 50 cm</li>
        </ul>
      </dd>


      <dt>
        Ławki
      </dt>
      <dd>
        posiadamy składane ławki w 2 wymiarach
        <ul>
          <li> 250cm x 30cm</li>
          <li> 220cm x 30</li>
        </ul>
      </dd>


      <dt>Krzesła</dt>
      <dd>posiadamy wygodne krzesła typu ISO w kolorze ciemnoszarym</dd>


      <dt>Zestawy piwne</dt>
      <dd>jest to najpopularniejszy w Polsce zestaw przenośnych mebli ogrodowych. Zestawy które posiadamy
        mają wymiary:

        <ul>
          <li> stół 220cm x 50cm</li>
          <li> ławki 220cm x 30cm lub 250cm x 30cm</li>
        </ul>
      </dd>
      <dt>
        Obrusy
      </dt>
      <dd>plamoodporne białe obrusy z ozdobnymi wzorkami. Obrusy o wymiarach 300cm x 160cm.</dd>


      <dt>Warnik</dt>
      <dd>do użytku w lokalach gastronomicznych oraz w domu.   Święta, Sylwester, duża rodzinna impreza lub urodziny
        w kameralnym gronie – zaopatrzenie w gorące napoje masz jak w banku. Za pomocą warnika można zarówno przyrządzić
        gorące napoje, jak i utrzymać przez długi czas odpowiednią temperaturę kawy, herbaty, kakao czy grzańca.
        Wystarczy
        ustawić na termostacie wymaganą temperature. Nalewanie odbywa się szybko i wygodnie – za pomocą kurka. Wskaźnik
        poziomu napoju zapewnia stałą kontrolę nad zawartością.
      </dd>

      <dt>
        Gale dekoracyjne
      </dt>
      <dd>Zdobienie sufitu namiotu za pomocą tkanin, kokard, lampionów, balonów i innych elementów
        dekoracyjnych.
      </dd>

      <dt>
        Parasole grzewcze
      </dt>
      <dd>zapewnią ogrzewanie podczas imprez plenerowych w chłodniejsze dni lub wieczory.
        Parasole grzewcze można stosować na otwartej przestrzeni lub wewnątrz namiotów bankietowych, charakteryzują się
        estetyką i wysoką wydajnością – są w stanie ogrzać przestrzeń w promieniu do kilku metrów.
      </dd>


      <dt>Grill</dt>
    </dl>

    <%= link_to 'Zapraszamy do galerii zdjęć', '/galeria/wyposazenie_dodatkowe.html' %>
  </div>

</div>





