<div class="row">


  <%= link_to image_tag('galeria/harcerski/thumbs/namiot_harcerski_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/harcerski/namiot_harcerski_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot harcerski wysoki W10', footer: 'Namiot harcerski wysoki W10'} %>

  <%= link_to image_tag('galeria/harcerski/thumbs/namiot_harcerski_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/harcerski/namiot_harcerski_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot harcerski wysoki W10', footer: 'Namiot harcerski wysoki W10'} %>


  <%= link_to image_tag('galeria/harcerski/thumbs/namiot_harcerski_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/harcerski/namiot_harcerski_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot harcerski wysoki W10', footer: 'Namiot harcerski wysoki W10'} %>
</div>
