<div class="row">


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>

  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_4.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_4.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_5.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_5.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_6.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_6.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_7.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_7.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>


  <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_8.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/5x8/namiot_cateringowy_5x8_8.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 5x8', footer: 'Namiot ekspresowy 5x8'} %>

</div>
