<div class="row">
  <%= link_to image_tag('galeria/3x3/thumbs/namiot_ekspresowy_3x3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/3x3/namiot_ekspresowy_3x3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 3x3m', footer: 'Namiot ekspresowy 3x3'} %>
</div>