
<div class="row">
  <%= link_to image_tag('galeria/ns_64/thumbs/namiot_NS-64_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/ns_64/namiot_NS-64_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot wojskowy NS-64', footer: 'Namiot wojskowy NS-64'} %>

  <%= link_to image_tag('galeria/ns_64/thumbs/namiot_NS-64_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/ns_64/namiot_NS-64_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot wojskowy NS-64', footer: 'Namiot wojskowy NS-64'} %>


  <%= link_to image_tag('galeria/ns_64/thumbs/namiot_NS-64_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/ns_64/namiot_NS-64_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot wojskowy NS-64', footer: 'Namiot wojskowy NS-64'} %>


  <%= link_to image_tag('galeria/ns_64/thumbs/namiot_NS-64_4.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/ns_64/namiot_NS-64_4.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot wojskowy NS-64', footer: 'Namiot wojskowy NS-64'} %>

</div>