<div class="row">
  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>

  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_4.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_4.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_5.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_5.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_6.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_6.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_7.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_7.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>


  <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_8.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/6x12/namiot_cateringowy_6x12_8.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 6x12', footer: 'Namiot ekspresowy 6x12'} %>
</div>