<div class="row">


  <%= link_to image_tag('galeria/3x6/thumbs/namiot_ekspresowy_3x6_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/3x6/namiot_ekspresowy_3x6_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 3x6', footer: 'Namiot ekspresowy 3x6'} %>

  <%= link_to image_tag('galeria/3x6/thumbs/namiot_ekspresowy_3x6_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/3x6/namiot_ekspresowy_3x6_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 3x6', footer: 'Lorem Ipsum'} %>


  <%= link_to image_tag('galeria/3x6/thumbs/namiot_ekspresowy_3x6_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/3x6/namiot_ekspresowy_3x6_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 3x6', footer: 'Namiot ekspresowy 3x6'} %>


  <%= link_to image_tag('galeria/3x6/thumbs/namiot_ekspresowy_3x6_4.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/3x6/namiot_ekspresowy_3x6_4.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'multiimages', title: 'Namiot ekspresowy 3x6', footer: 'Namiot ekspresowy 3x6'} %>



</div>