<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/thumbs/lozko.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/lozko.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'lozka_i_materace', title: 'Łóżka i materace wojskowe', footer: 'Łóżka i materace wojskowe'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/thumbs/materac.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/materac.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'lozka_i_materace', title: 'Łóżka i materace wojskowe', footer: 'Łóżka i materace wojskowe'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/thumbs/namiot_z_lozkami_i_materacami.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/namiot_z_lozkami_i_materacami.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'lozka_i_materace', title: 'Łóżka i materace wojskowe', footer: 'Łóżka i materace wojskowe'} %>
</div>