---
title: Galeria
---
<!--mkdir thumbs && mogrify -path ./thumbs -gravity Center -resize 320^x240^ -crop 320x240+0+0 *.jpg-->


<div class="row">


  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/6x12/thumbs/namiot_cateringowy_6x12_1.jpg', class: 'img-responsive'), '/galeria/6x12.html' %>
      <div class="caption">
        <h3>Namiot cateringowy 6x12</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/5x8/thumbs/namiot_cateringowy_5x8_1.jpg', class: 'img-responsive'), '/galeria/5x8.html' %>
      <div class="caption">
        <h3>Namiot cateringowy 5x8</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/3x6/thumbs/namiot_ekspresowy_3x6_1.jpg', class: 'img-responsive'), '/galeria/3x6.html' %>
      <div class="caption">
        <h3>Namiot ekspresowy 3x6</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/3x3/thumbs/namiot_ekspresowy_3x3.jpg', class: 'img-responsive'), '/galeria/3x3.html' %>
      <div class="caption">
        <h3>Namiot ekspresowy 3x3</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/harcerski/thumbs/namiot_harcerski_1.jpg', class: 'img-responsive'), '/galeria/harcerski.html' %>
      <div class="caption">
        <h3>Namiot harcerski</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">
      <%= link_to image_tag('galeria/ns_64/thumbs/namiot_NS-64_1.jpg', class: 'img-responsive'), '/galeria/ns_64.html' %>
      <div class="caption">
        <h3>Namiot NS-64</h3>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <div class="thumbnail">

      <a href="/galeria/wyposazenie_dodatkowe.html">
      <div class="thumbscrubber smooth">
    <span class="ts-inner">
      <%= image_tag('galeria/wyposazenie_dodatkowe/zestaw_piwny/thumbs/zestaw_piwny_1.jpg', class: 'img-responsive ts-currslide') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/fontanna_czekoladowa/thumbs/fontanna_czekoladowa.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/gale_dekoracyjne/thumbs/gala_dekoracyjna_1.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/grill/thumbs/Grill_1.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/lozka_i_materace_wojskowe/thumbs/lozko.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/oswietlenie/thumbs/oswietlenie.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/stoly_i_lawy/thumbs/stoly_1.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/warnik/thumbs/warnik_do_wody-kawy_herbaty.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/parasol_grzewczy/thumbs/parasol-grzewczy.jpg', class: 'img-responsive') %>
      <%= image_tag('galeria/wyposazenie_dodatkowe/krzesla/thumbs/iso_black.jpg', class: 'img-responsive') %>
    </span>
      </div>
      </a>


      <div class="caption">
        <h3>Wyposażenie dodatkowe</h3>
      </div>
    </div>
  </div>


</div>
