---
title: Galeria - wyposażenie dodatkowe
---


<h2>Fontanna czekoladowa</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/fontanna_czekoladowa/thumbs/fontanna_czekoladowa.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/fontanna_czekoladowa/fontanna_czekoladowa.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'fontanna', title: 'Fontanna czekoladowa', footer: 'Fontanna czekoladowa'} %>
</div>


<h2>Gale dekoracyjne</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/gale_dekoracyjne/thumbs/gala_dekoracyjna_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/gale_dekoracyjne/gala_dekoracyjna_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'gale_dekoracyjne', title: 'Biała gala dekoracyjna', footer: 'Biała gala dekoracyjna'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/gale_dekoracyjne/thumbs/gala_dekoracyjna_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/gale_dekoracyjne/gala_dekoracyjna_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'gale_dekoracyjne', title: 'Biała gala dekoracyjna', footer: 'Biała gala dekoracyjna'} %>
</div>


<h2>Grill</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/grill/thumbs/Grill_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/grill/Grill_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'grill', title: 'Grill cateringowy', footer: 'Grill cateringowy'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/grill/thumbs/Grill_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/grill/Grill_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'grill', title: 'Grill cateringowy', footer: 'Grill cateringowy'} %>
</div>


<h2>Łóżka i materace wojskowe</h2>
<%= partial 'galeria_lozka_materace' %>

<h2>Oświetlenie</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/oswietlenie/thumbs/oswietlenie.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/oswietlenie/oswietlenie.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'oswietlenie', title: 'Oświetlenie', footer: 'Oświetlenie'} %>
</div>


<h2>Stoły i ławy</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/stoly_i_lawy/thumbs/stoly_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/stoly_i_lawy/stoly_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'stoly_i_lawy', title: 'Stoły i ławy', footer: 'Stoły i ławy'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/stoly_i_lawy/thumbs/stoly_2.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/stoly_i_lawy/stoly_2.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'stoly_i_lawy', title: 'Stoły i ławy', footer: 'Stoły i ławy'} %>

  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/stoly_i_lawy/thumbs/stoly_3.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/stoly_i_lawy/stoly_3.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'stoly_i_lawy', title: 'Stoły i ławy', footer: 'Stoły i ławy'} %>
</div>

<h2>Warnik</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/warnik/thumbs/warnik_do_wody-kawy_herbaty.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/warnik/warnik_do_wody-kawy_herbaty.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'warnik', title: 'Warnik', footer: 'Warnik'} %>
</div>


<h2>Zestaw piwny</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/zestaw_piwny/thumbs/zestaw_piwny_1.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/zestaw_piwny/zestaw_piwny_1.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'zestaw_piwny', title: 'Zestaw piwny', footer: 'Zestaw piwny'} %>
</div>

<h2>Parasol grzewczy</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/parasol_grzewczy/thumbs/parasol-grzewczy.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/parasol_grzewczy/parasol-grzewczy.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'zestaw_piwny', title: 'Parasol grzewczy', footer: 'Parasol grzewczy'} %>
</div>

<h2>Krzesło typu ISO</h2>
<div class="row">
  <%= link_to image_tag('galeria/wyposazenie_dodatkowe/krzesla/thumbs/iso_black.jpg', class: 'img-responsive img-thumbnail'),
              image_path('galeria/wyposazenie_dodatkowe/krzesla/iso_black.jpg'),
              class: 'col-lg-3 col-md-4 col-xs-6',
              data: {toggle: 'lightbox', gallery: 'zestaw_piwny', title: 'Krzesło typu ISO', footer: 'Krzesło typu ISO'} %>
</div>