---
title:  Cennik 
---


<div class="row">
  <div class="col-sm-12">
    <h2>Namioty</h2>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>rodzaj namiotu</th>
        <th>1 doba</th>
        <th>2 doby</th>
        <th>3 doby</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>3x3</td>
        <td>100 zł</td>
        <td>130 zł</td>
        <td>156 zł</td>
      </tr>
      <tr>
        <td>3x6</td>
        <td>200 zł</td>
        <td>260 zł</td>
        <td>312 zł</td>
      </tr>
      <tr>
        <td> 6x6</td>
        <td> 400 zł</td>
        <td> 520 zł</td>
        <td> 624 zł</td>
      </tr>
      <tr>
        <td> 5x8</td>
        <td> 500 zł</td>
        <td> 650 zł</td>
        <td> 780 zł</td>
      </tr>
      <tr>
        <td> 6x12</td>
        <td> 600 zł</td>
        <td> 780 zł</td>
        <td> 936 zł</td>
      </tr>
      <tr>
        <td> 8x10</td>
        <td> 1 000 zł</td>
        <td> 1 300 zł</td>
        <td> 1 560 zł</td>
      </tr>
      <tr>
        <td>8x15</td>
        <td>1 500 zł</td>
        <td>1 950 zł</td>
        <td>2 340 zł</td>
      </tr>
      <tr>
        <td> 8x20</td>
        <td> 1 900 zł</td>
        <td> 2 470 zł</td>
        <td> 2 964 zł</td>
      </tr>
      <tr>
        <td> namiot harcerski</td>
        <td> 60 zł</td>
        <td> 100 zł</td>
        <td> 120 zł</td>
      </tr>
      <tr>
        <td> namiot wojskowy</td>
        <td> 60 zł</td>
        <td> 100 zł</td>
        <td> 120 zł</td>
      </tr>


      </tbody>
    </table>


    <p>
      Podane ceny są cenami netto.
      Dla dłuższych terminów prosimy o kontakt telefoniczny w celu indywidualnej wyceny.
    </p>


    <h2>Wyposażenie dodatkowe</h2>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th> wynajmowany sprzęt</th>
        <th> 1 doba</th>
        <th> 2 doby</th>
        <th> 3 doby</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> stół 250x100</td>
        <td> 20 zł</td>
        <td> 30 zł</td>
        <td> 40 zł</td>
      </tr>
      <tr>
        <td> ławka 250x30</td>
        <td> 8 zł</td>
        <td> 15 zł</td>
        <td> 20 zł</td>
      </tr>
      <tr>
        <td> krzesło typu ISO</td>
        <td> 5 zł</td>
        <td> 10 zł</td>
        <td> 15 zł</td>
      </tr>
      <tr>
        <td> zestaw piwny 220</td>
        <td> 25 zł</td>
        <td> 45 zł</td>
        <td> 60 zł</td>
      </tr>
      <tr>
        <td> obrus 300x160</td>
        <td> 20 zł</td>
        <td> 30 zł</td>
        <td> 35 zł</td>
      </tr>
      <tr>
        <td> warnik 6,8l</td>
        <td> 25 zł</td>
        <td> 50 zł</td>
        <td> 60 zł</td>
      </tr>
      <tr>
        <td> fontanna czekoladowa</td>
        <td> 200 zł</td>
        <td> 400 zł</td>
        <td> 500 zł</td>
      </tr>
      <tr>
        <td> gala dekoracyjna</td>
        <td> 100 zł</td>
        <td> 120 zł</td>
        <td> 140 zł</td>
      </tr>
      <tr>
        <td> materac wojskowy</td>
        <td> 5 zł</td>
        <td> 10 zł</td>
        <td> 15 zł</td>
      </tr>
      <tr>
        <td> łóżko polowe</td>
        <td> 5 zł</td>
        <td> 10 zł</td>
        <td> 15 zł</td>
      </tr>

      <tr>
        <td> grill</td>
        <td> 100 zł</td>
        <td> 150 zł</td>
        <td> 200 zł</td>
      </tr>
      </tbody>

    </table>
    Podane ceny są cenami netto.
    Dla dłuższych terminów prosimy o kontakt telefoniczny w celu indywidualnej wyceny.


  </div>
</div>




