---
title:  Wypożyczalnia namiotów Turbonamioty 
---

<meta name="description" content="Wypożyczalnia namiotów - wynajem: namioty weselne, harcerskie, ogrodowe, na imprezy, ekspresowe, na komunie, itp. Różne wymiary m.in.: 3x3, 3x6, 5x8, 6x12" />
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 948823902;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/948823902/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<div class="row">
  <div class="col-sm-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="6" class=""></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="jumbotron" style="background: url('images/covers/namiot_6x12.jpg'); background-size: cover;">
            <h1>
             <span class="jumbotron-header"> Namiot cateringowy 6x12</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_6x12.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>

        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/namiot_5x8.jpg'); background-size: cover;">
            <h1>
             <span class="jumbotron-header">Namiot cateringowy 5x8 </span>
            </h1>

            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_5x8.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/namiot_3x6.jpg'); background-size: cover;">

            <h1>
              <span class="jumbotron-header">Namiot 3x6</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_3x6.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/namiot_3x3.jpg'); background-size: cover;">
            <h1>
              <span class="jumbotron-header">Namiot 3x3</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_3x3.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/namiot_NS-64.jpg'); background-size: cover;">

            <h1>
              <span class="jumbotron-header">Namiot NS-64</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_ns_64.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/namiot_harcerski.jpg'); background-size: cover;">
            <h1>
              <span class="jumbotron-header">Namiot harcerski</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/namioty_harcerskie.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>
        <div class="item">
          <div class="jumbotron" style="background: url('images/covers/wyposazenie_dodatkowe.jpg'); background-size: cover;">

            <h1>
              <span class="jumbotron-header">Wyposażenie dodatkowe</span>
            </h1>
            <p>
              <%= link_to 'Zobacz', 'oferta/wyposazenie_dodatkowe.html', class: 'btn btn-primary btn-lg' %>
            </p>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>




    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'ikona_1.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Promocje', '/promocje/zestaw_komunijny_krzesla.html' %>

            </h3>

            <p>Zapraszamy do zapoznania się z najnowszymi promocjami

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'ikona_2.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <%= link_to 'Nasze propozcje', '/propozycje/zestaw_komunijny.html' %>

            </h3>

            <p> Propozycje na każdą okazję

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag 'ikona_3.jpg', class: "img-responsive" %>
          <div class="caption text-center">
            <h3>
              <a href="/o-firmie.html#co_nas_wyroznia">
              Co nas wyróżnia
              </a>
            </h3>

            <p>Czemu to nam warto zaufać

          </div>
        </div>
      </div>
    </div>


<div id="like-box-container">
    <p><a href="https://www.facebook.com/Turbonamioty01" onclick="return show_like_box()"><img src="images/like-box.png" alt=""></a></p>
    <div id="like-box"><!--{fb} https://www.facebook.com/FacebookDevelopers {/fb}--></div>


    <div class="fb-like" data-href="https://www.facebook.com/Turbonamioty01" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<a href="https://plus.google.com/u/0/b/115109272796790797882/115109272796790797882/posts" rel="publisher">Turbonamioty w Google+</a>


  <a href="//plus.google.com/u/0/b/115109272796790797882/115109272796790797882/posts"rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
<span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;"></span><span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;"></span>
<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
</a>
  


<a href="http://www.kps.pl" target="_blank" title="KPS.PL"><strong></strong></a>

<a href="http://darmowykatalogseo.pl" target="_blank" title="Darmowy katalog SEO"><strong></strong></a>

<a
href="http://darmowykatalogseo.pl/strona/wypozyczalnia-namiotow-turbonamioty-10077w.html"
class="site_link"></a>

<a href="http://www.alexa.com/siteinfo/yoursite.com"><script type="text/javascript" src="http://xslt.alexa.com/site_stats/js/t/a?url=yoursite.com"></script></a>

   </div>
  </div>
</div>




