---
title: Kontakt
---


<div class="row">
  <div class="col-sm-12">
<p>Dane adresowe:</p>
    <address>
      <strong>Wypożyczalnia namiotów Turbonamioty <br>
        Jakub Jankowski</strong><br>
      Ul. Przyszłość 100<br>
      05-126 Stanisławów Pierwszy<br>
      Telefon: <span itemprop="telephone">600-22-35-35</span> <br>
      <%= mail_to 'turbonamioty@gmail.com', 'turbonamioty@gmail.com' %>
<p></p>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="like-box-container">
    <p><a href="https://www.facebook.com/Turbonamioty01" onclick="return show_like_box()"><img src="images/like-box.png" alt=""></a></p>
    <div id="like-box"><!--{fb} https://www.facebook.com/FacebookDevelopers {/fb}--></div>


    <div class="fb-like" data-href="https://www.facebook.com/Turbonamioty01" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<a href="//plus.google.com/u/0/b/115109272796790797882/115109272796790797882/posts"rel="publisher" target="_top" style="text-decoration:none;display:inline-block;color:#333;text-align:center; font:13px/16px arial,sans-serif;white-space:nowrap;">
<span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px; margin-top:8px;"></span>Turbonamioty w Google+<span style="display:inline-block;vertical-align:top;margin-right:15px; margin-top:8px;"></span>
<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>


    </address>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.8229406455466!2d21.04645499999999!3d52.39176000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ec648c81732a3%3A0xf9c859977c1e5026!2sTurbonamioty+Wynajem+namiot%C3%B3w+wypo%C5%BCyczalnia+namiot%C3%B3w+Warszawa+organizacja+imprez!5e0!3m2!1spl!2spl!4v1426164097071" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</div>




