---
title: Oferta
---


<div class="row">
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3><%= link_to 'namiot 4x5', '/oferta/namiot_3x5.html'%></h3>
          <p>Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3>namiot 5x8</h3>
          <p>Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3>Szybki kontakt</h3>
          <p>Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus.

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3>Promocje</h3>
          <p>Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3>Nasze propozcje</h3>
          <p>Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag '400x200.gif', class: "img-responsive"%>
        <div class="caption text-center">
          <h3>Szybki kontakt</h3>
          <p>Sed posuere consectetur est at lobortis. Donec id elit non mi porta gravida at eget metus.

        </div>
      </div>
    </div>
  </div>

</div>
</div>




